@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600;700&display=swap');

html {
    font-family: 'Darker Grotesque', sans-serif;
}


/********************HEADER *********************/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em 1em 0;
    background-color: #85CDF5;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 2.4em;
    font-weight: 700;
} 

.quem-somos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.quem-somos:hover::after {
    width: 100%;
  }

.nossos-lobinhos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.nossos-lobinhos:hover::after {
    width: 100%;
}

/********************SEARCH BAR *********************/

.filter {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    
}

.searchbar {
    display: flex;
    gap: 2em;
}

.link-nav {
    padding: 0.2em 1em;
    background-color: #DEB959;
    color: white;
    font-size: 1.4em;
    font-size: 2em;
    border: none;
}

.searchbox {
    padding: 1em 60em 1em 0;
}

.radio-filter{
    display: flex;
}

/******************** LOBOS *********************/

#titulo-lobos {
    padding: 0.2em 1em;
    background-color: #DEB959;
    color: white;
    font-size: 1.4em;
    font-size: 2em;
    border: none;
}

.lobos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    gap: 4em;
}

.lobo {
    display: flex;
    gap: 2em;
    max-width: 50%;
}

#lobo2 {
    flex-direction: row-reverse;
}

.vazia {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: #2C5680;
    transform: translate(-8%, -9%);
    border: 2px solid #333333;
    z-index: -2;
}

#vazia2 {
    transform: translate(8%, -9%);
}

.img-lobo{
    width: 400px;
    height: 300px;
    object-fit: fill;
}

.conteudo-lobo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

#separador-lobo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-lobo {
    display: flex;
    justify-content: space-between;
}

#header-lobo2 {
    min-width: 100%;
}

.btn-header-lobo {
    background-color: #DEB959;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 0.3em 1em;
    object-fit: contain;
}

#adotado {
    background-color: #7AAC3A;
}

.nome-lobo {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.descricao-lobo {
    font-size: 1.2em;
    min-width: 25em;
    line-break: anywhere;
}



/******************** FOOTER *********************/

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    border-top: 5px solid pink;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 0%, rgba(44,86,128,1) 100%) 10;
}

.menu-endereco {
    display: flex;
    gap: 2em;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itens-contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item-contato {
    display: flex;
    gap: 0.5em;   
    max-width: 350px;
    color: white;
}

.item-contato img {
    object-fit: contain;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5em;
}

.btn-quem-somos-footer button {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    background-color: #DEB959;
    border: none;
}


@media (max-width: 1200px) {
    
    .lobo {
        flex-direction: column;
    }
    #lobo2 {
        flex-direction: column;
    }
    .descricao-lobo {
        min-width: 2em;   
    }

    #textbox {
        padding: 0;
    }
}