@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: 'Darker Grotesque', sans-serif;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/********************HEADER *********************/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em 1em 0;
    background-color: #85CDF5;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 2.4em;
    font-weight: 700;
} 

.quem-somos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.quem-somos:hover::after {
    width: 100%;
  }

.nossos-lobinhos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.nossos-lobinhos:hover::after {
    width: 100%;
}


/******************** MAIN *********************/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lobo {
    display: flex;
    margin: 2em auto;
    gap: 2em;
}

.lobo h1 {
    font-size: 3.5em;
    font-weight: 600;
}


.img-lobo { 
    display: inline-block; 
    position: relative; 
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.img-lobo img { 
    width: auto; 
    height: 100%;
    margin-left: -50px; 
}

.formulario {
    width: 100%;
}

.info-lobo {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.dado-lobo {
    display: flex;
    flex-direction: column;
}

#input-nome-lobo {
    min-width: 390%;
    border: none;
    border-bottom: 1px solid #333333;
}

#nome {
    padding-right: 50%;
}

.campo-lobo {
    font-size: 1.5em;
}

#anos {
    padding-right: 1.4em;
    border: none;
    border-bottom: 1px solid #333333;
}

.link-lobo {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    margin: 1em 0;
    
}

#imagem {
    border: none;
    border-bottom: 1px solid #333333;
}


/******************** FOOTER *********************/

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    border-top: 5px solid pink;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 0%, rgba(44,86,128,1) 100%) 10;
    margin-top: auto;
}



.menu-endereco {
    display: flex;
    gap: 2em;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itens-contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item-contato {
    display: flex;
    gap: 0.5em;   
    max-width: 350px;
    color: white;
}

.item-contato img {
    object-fit: contain;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5em;
}

.btn-quem-somos-footer button {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    background-color: #DEB959;
    border: none;
}