@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    font-family: 'Darker Grotesque', sans-serif;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/********************HEADER *********************/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 2em 1em 0;
    background-color: #85CDF5;
}

.header a {
    color: black;
    text-decoration: none;
    font-size: 2.4em;
    font-weight: 700;
} 

.quem-somos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.quem-somos:hover::after {
    width: 100%;
  }

.nossos-lobinhos::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width .4s ease-in;
}

.nossos-lobinhos:hover::after {
    width: 100%;
}


/******************** MAIN *********************/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/******************** LOBOS *********************/
.lobos {
    display: flex;
    flex-direction: column;
    gap: 4em;
    margin: 1em 0 3em 0;
}

.nome-lobo {
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 auto;
}

.lobo {
    display: flex;
    gap: 2em;
    max-width: 60%;
}


.vazia {
    width: 400px;
    height: 300px;
    position: absolute;
    background-color: #2C5680;
    transform: translate(-8%, -9%);
    border: 2px solid #333333;
    z-index: -2;
}

.div-lobo {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.adotar {
    font-size: 1em;
    color: white;
    background-color: #7AAC3A;
    padding: 1em 2em;
    border: none;
}

.adotar:hover {
    cursor: pointer;
}

.excluir {
    font-size: 1em;
    color: white;
    background-color: #DE5959;
    padding: 1em 2em;
    border: none;
}

.excluir:hover {
    cursor: pointer;
}


.img-lobo{
    width: 400px;
    height: 300px;
    object-fit: fill;
}

.header-lobo {
    display: flex;
    justify-content: space-between;
}

.btn-header-lobo {
    background-color: #DEB959;
    color: white;
    border: none;
    font-size: 1.5em;
    padding: 0 1em;
    object-fit: contain;

}

.conteudo-lobo {
    font-size: 1.2em;
    min-width: 25em;
    max-width: 25em;
}


/******************** FOOTER *********************/

.footer {
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    border-top: 5px solid pink;
    border-image: linear-gradient(90deg, rgba(222,185,89,1) 0%, rgba(44,86,128,1) 100%) 10;
    margin-top: auto;
}



.menu-endereco {
    display: flex;
    gap: 2em;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.itens-contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.item-contato {
    display: flex;
    gap: 0.5em;   
    max-width: 350px;
    color: white;
}

.item-contato img {
    object-fit: contain;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0.5em;
}

.btn-quem-somos-footer button {
    padding: 0.5em;
    font-size: 1em;
    font-weight: 700;
    background-color: #DEB959;
    border: none;
}

@media (max-width: 1200px) {
    .lobo {
        display: flex;
        flex-direction: column;
    }
}